# R stuff to not track
.Rproj.user
.Rhistory
.RData
.Ruserdata

# python environment stuff
herbie_env/
forecast_env/

# Mac artifacts
*.DS_Store

# don't track the symlink contents
data/

# python cache files
*/__pycache__/*
